@use 'variables' as *;

$font-size-section-headings: 1.25rem;
$font-size-body-text: 1rem;
$font-size-card-title: 1.1 * $font-size-body-text;
$font-size-card-text: 0.95 * $font-size-body-text;

$border-radius-panel: 0.5rem;

$gap-section-title: 1rem;
$gap-announcement-items: 2rem;
$gap-grid: 2rem;

$size-image-user: 4rem;
$size-card-icon: 1.6rem;

.dashboard-grid {
  & {
    flex: 1;
    background: $color-background-body;
    display: grid;
    grid-template-columns: 1fr max(20rem, 20vw);
    padding: 3rem 2rem 4rem;
    column-gap: $gap-grid;
  }

  .section-title {
    font-size: $font-size-section-headings;
    margin: 0;
  }
}

.projects-section {
  display: flex;
  flex-direction: column;
  gap: $gap-section-title;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  height: 100%;
  gap: $gap-grid;
}

.project-card {
  & {
    background: $color-white;
    border-radius: $border-radius-panel;
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    position: relative;
  }

  .project-card__highlight {
    width: $border-radius-panel;
    height: 100%;
    background: $color-secondary;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: $border-radius-panel;
    border-bottom-left-radius: $border-radius-panel;
  }

  .project-card__title {
    font-size: $font-size-card-title;
  }

  .project-card__description {
    color: $color-grey;
    font-size: $font-size-card-text;
    padding-bottom: 2rem;
  }

  .project-card__actions {
    & {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 1.5rem;
      position: absolute;
      right: 3rem;
      bottom: 1.5rem;
    }

    .project-card__action-button {
      & {
        background: $color-white;
        border: none;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .project-card__icon {
      width: $size-card-icon;
      height: $size-card-icon;
      min-width: $size-card-icon;
    }
  }
}

.sidebar-widgets {
  & {
    display: grid;
    row-gap: 2.5rem;
  }
}

.announcements-widget {
  & {
    display: flex;
    flex-direction: column;
    gap: $gap-section-title;
  }

  .announcement-container {
    flex: 1;
    display: flex;
    background-color: $color-white;
    border-radius: $border-radius-panel;
    padding: 2.2rem 2rem;
  }

  .announcements-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: $gap-announcement-items;
  }

  .announcement-item__title {
    font-size: 0.95rem;
    margin: 0;
  }

  .announcement-item__text {
    font-size: 0.85rem;
    color: $color-grey;
    margin: 0;
    padding-block: 0.5rem $gap-announcement-items;
  }

  .announcement-item {
    &:not(:last-child) {
      .announcement-item__text {
        border-bottom: 1px solid $color-light-gray;
      }
    }
  }
}

.trending-widget {
  & {
    display: flex;
    flex-direction: column;
    gap: $gap-section-title;
  }

  .trending-container {
    background: $color-white;
    border-radius: $border-radius-panel;
    flex: 1;
    display: flex;
    padding: 2rem 2rem;
  }

  .trending-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .trending-item {
    & {
      display: flex;
      align-items: center;
    }

    img {
      width: $size-image-user;
      height: $size-image-user;
    }
  }

  .trending-item__info {
    & {
      display: flex;
      flex-direction: column;
    }

    .trending-item__handle {
      font-weight: bold;
      font-size: $font-size-body-text;
    }

    .trending-item__project {
      color: $color-grey;
      font-size: 1rem;
      margin-top: -5px;
    }
  }
}
