@use 'variables' as *;

.site-sidebar {
  background: $color-primary;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  padding: 1.5rem 1rem;
}

.sidebar-header__link {

  & {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: $color-text-secondary;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    outline: none;
    transform: translateY(1px);
    opacity: 0.8;
  }

  svg {
    fill: $color-text-secondary;
    width: 2.6rem;
    height: 2.6rem;
  }

  span {
    font-size: $font-size-sidbar-header;
    font-weight: 600;
  }
}

.sidebar-navigation {
  & {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .nav-menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
    padding: 0 0.5rem;
  }

  .nav-menu__link {
    & {
      display: flex;
      align-items: center;
      text-decoration: none;
      gap: 1rem;
      color: $color-text-secondary;
      transition: 
        background-color 0.2s ease-in-out, 
        transform 0.2s ease-in-out;
    }

    &:hover,
    &:focus {
      outline: none;
      transform: translateY(1px);
      opacity: 0.8;
    }

    svg {
      fill: $color-text-secondary;
      width: $font-size-sidebar-link;
      height: $font-size-sidebar-link;
    }

    span {
      font-weight: 600;
      font-size: $font-size-sidebar-link;
    }
  }
}
