$font-family-base: 'Inter', sans-serif;

$color-primary: #2563eb;
$color-secondary: #10b981;

$color-text-primary: #344054;
$color-text-secondary: #ffffff;

$color-background-body: #e0e6ee;

$font-size-sidbar-header: 1.4rem;
$font-size-sidebar-link: 1.05rem;

