@use 'components/site-sidebar';
@use 'components/page-header';
@use 'components/dashboard-grid';

@use 'utils/fonts';
@use 'utils/reset';
@use 'utils/variables';

svg {
  width: 2rem;
  height: 2rem;
}

body {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: min(22vw, 18rem) 1fr;
  font-size: 16px;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
