@use 'fonts';
@use 'reset';
@use 'variables';
@use 'site-sidebar';

svg {
  width: 2rem;
  height: 2rem;
}

img {
  width: 4rem;
  height: 4rem;
}

body {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 22vh 1fr;
}

