@use 'fonts';
@use 'reset';
@use 'variables';
@use 'site-sidebar';
@use 'page-header';
@use 'dashboard-grid';

svg {
  width: 2rem;
  height: 2rem;
}

img {
  width: 4rem;
  height: 4rem;
}

body {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: min(22vw, 18rem) 1fr;
  font-size: 16px;
}

.main-content {
  display: flex;
  flex-direction: column;;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}