$font-family-base: 'Inter', sans-serif;

$color-black: #000000;
$color-white: #ffffff;

$color-grey: #6d6d6d;
$color-dark-grey: #333333;
$color-light-gray: #d0d0d0;

$color-primary: #2563eb;
$color-secondary: #10b981;

$color-text-primary: #344054;
$color-text-secondary: #ffffff;

$color-background-body: #e0e6ee;

$space-xs: 0.5rem;
$space-sm: 1rem;
$space-md: 1.5rem;
$space-lg: 2rem;
$space-xl: 2.5rem;
$space-xxl: 3rem;
