@use '../utils/mixins';
@use '../utils/variables' as *;

/*=============================================
=                 VARIABLES                   =
=============================================*/
$font-size-header: 1.4rem;
$font-size-link: 1.1rem;

$icon-header-size: 2.6rem;
$icon-menu-size: $font-size-link;

/*=============================================
=                   SIDEBAR                   =
=============================================*/
.site-sidebar {
  background: $color-primary;
  display: flex;
  flex-direction: column;
  gap: $space-xl;
  padding: $space-md $space-sm;
}

/*=============================================
=               SIDEBAR HEADER                =
=============================================*/
.sidebar-header__link {
  display: flex;
  align-items: center;
  gap: $space-sm;
  color: $color-text-secondary;
  text-decoration: none;
  @include mixins.interactive-press();
}

.sidebar-header__icon {
  fill: $color-text-secondary;
  @include mixins.icon-size($icon-header-size);
}

.sidebar-header__title {
  font-size: $font-size-header;
  font-weight: 600;
}

/*=============================================
=             SIDEBAR NAVIGATION              =
=============================================*/
.sidebar-navigation {
  display: flex;
  flex-direction: column;
  gap: $space-xxl;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: $space-sm;
  margin: 0;
  padding-inline: $space-xs;
}

.nav-menu__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: $space-sm;
  color: $color-text-secondary;
  @include mixins.interactive-press();
}

.nav-link__icon {
  fill: $color-text-secondary;
  width: $icon-menu-size;
  height: $icon-menu-size;
  min-width: $icon-menu-size;
}

.nav-link__text {
  font-weight: 600;
  font-size: $font-size-link;
}
