@use '../utils/mixins';
@use '../utils/variables' as *;

/*====================================
=            VARIABLES               =
====================================*/

$font-size-section-headings: 1.2rem;
$font-size-body-text: 1rem;
$font-size-card-title: 1.1rem;
$font-size-card-text: 0.95rem;

$gap-section-title: 1rem;
$gap-announcement-items: $space-md;
$gap-grid: $space-md;

$size-card-icon: 1.5rem;
$size-avatar: 4rem;

$border-radius-panel: 0.5rem;

$box-shadow-card: 0 4px 6px -1px rgba(16, 24, 40, 0.1),
  0 2px 4px -2px rgba(16, 24, 40, 0.1);

/*====================================
=          MAIN LAYOUT               =
====================================*/

.dashboard-grid {
  flex: 1;
  background: $color-background-body;
  display: grid;
  grid-template-columns: 1fr max(20rem, 19vw);
  padding: $space-md $space-lg $space-xxl;
  column-gap: $gap-grid;
}

.section-title {
  font-size: $font-size-section-headings;
  font-weight: bold;
  margin: 0;
}

/*====================================
=             PROJECTS               =
====================================*/

.projects-section {
  display: flex;
  flex-direction: column;
  gap: $gap-section-title;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  height: 100%;
  gap: $gap-grid;
}

.project-card {
  background: $color-white;
  position: relative;
  border-radius: $border-radius-panel;
  padding: $space-sm $space-xl;
  display: flex;
  box-shadow: $box-shadow-card;
  min-height: 14rem;
  @include mixins.hover-lift();
}

.project-card__highlight {
  width: $border-radius-panel;
  height: 100%;
  background: $color-secondary;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: $border-radius-panel;
  border-bottom-left-radius: $border-radius-panel;
}

.project-card__title {
  font-size: $font-size-card-title;
  font-weight: bold;
  padding-top: $space-xs;
}

.project-card__title-link {
  @include mixins.interactive-handle($color-black, $color-dark-grey);
}

.project-card__description {
  color: $color-grey;
  font-size: $font-size-card-text;
  padding-bottom: $space-lg;
  line-height: 1.4;
}

.project-card__actions {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: $space-sm;
  position: absolute;
  right: $space-xl;
  bottom: $space-md;
}

.project-card__action-button {
  background: $color-white;
  border: none;
  @include mixins.hover-effects(pointer);
}

.project-card__icon {
  @include mixins.icon-size($size-card-icon);
  @include mixins.hover-effects(pointer);
}

/*====================================
=         SIDEBAR WIDGETS            =
====================================*/

.sidebar-widgets {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: $space-xl;
}

/*====================================
=    ANNOUNCEMENT WIDGET            =
====================================*/

.announcements-widget {
  display: flex;
  flex-direction: column;
  gap: $gap-section-title;
}

.announcement-container {
  flex: 1;
  display: flex;
  background-color: $color-white;
  border-radius: $border-radius-panel;
  padding: $space-xl $space-lg;
  @include mixins.hover-lift();
}

.announcements-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.announcement-item__title {
  font-size: 0.95rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.announcement-item__title-link {
  @include mixins.interactive-handle($color-black, $color-dark-grey);
}

.announcement-item__text {
  font-size: 0.85rem;
  color: $color-grey;
  margin: 0;
  padding-top: 2px;
}

.announcement-item__divider {
  border-bottom: 1px solid $color-light-gray;
}

/*====================================
=         TRENDING WIDGET            =
====================================*/

.trending-widget {
  display: flex;
  flex-direction: column;
  gap: $gap-section-title;
}

.trending-container {
  background: $color-white;
  border-radius: $border-radius-panel;
  flex: 1;
  display: flex;
  padding: $space-lg;
  @include mixins.hover-lift();
}

.trending-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.trending-item {
  display: flex;
  align-items: center;
}

.trending-item__avatar {
  @include mixins.avatar-size($size-avatar);
  @include mixins.hover-effects(pointer);
}

.trending-item__info {
  display: flex;
  flex-direction: column;
}

.trending-item__handle {
  font-weight: bold;
  font-size: $font-size-body-text;
  @include mixins.interactive-handle($color-black, $color-dark-grey);
}

.trending-item__project {
  color: $color-grey;
  font-size: $font-size-body-text;
  margin-top: -1px;
}
