@use '../utils/mixins';
@use '../utils/variables' as *;

/*====================================
=               VARIABLES            =
====================================*/

$font-size-search: 1.6rem;
$font-size-welcome: 1.2rem;
$font-size-btn: 0.95rem;

$box-shadow-header: 0 4px 8px -1px rgba($color-black, 0.1);
$box-shadow-buttons: 0 2px 4px rgba($color-black, 0.25);

$size-profile-icon: $font-size-search;
$size-user-profile-image: $size-profile-icon * 1.8;
$size-welcome-avatar-image: 4rem;

$height-search: $font-size-search * 1.3;

/*====================================
=               HEADER               =
====================================*/

.page-header {
  flex-basis: 13vh;
  box-shadow: $box-shadow-header;
  padding: $space-md $space-xl;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $space-lg;
  z-index: 1;
}

.header-top {
  display: flex;
  align-items: center;
  gap: 4 * $space-lg;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
}

/*====================================
=             SEARCH BAR             =
====================================*/

.search-bar {
  display: flex;
  align-items: center;
  gap: $space-md;
  flex-basis: 55%;
}

.search-bar__button {
  padding: 0;
  border: none;
  background: $color-white;
}

.search-bar__icon {
  @include mixins.icon-size($font-size-search);
  @include mixins.hover-opacity-pointer();
}

.search-bar__input {
  flex-basis: min(50rem, 100%);
  background: $color-background-body;
  border-radius: 2rem;
  border: none;
  height: $height-search;
  padding: 0.2rem 0.8rem;
  font-size: 0.9rem;

  &:focus {
    outline: none;
  }
}

/*====================================
=            USER PROFILE            =
====================================*/

.user-profile {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1.8rem;
  justify-content: flex-end;
  padding-right: 2%;
}

.user-profile__notification-button {
  padding: 0;
  border: none;
  background: $color-white;
}

.user-profile__notification-icon {
  @include mixins.icon-size($size-profile-icon);
  @include mixins.hover-opacity-pointer();
}

.user-profile__avatar {
  @include mixins.avatar-size($size-user-profile-image);
  @include mixins.hover-opacity-pointer();
}

.user-profile__name {
  font-weight: bold;
  @include mixins.interactive-handle($color-black, $color-dark-grey);
  @include mixins.hover-opacity-pointer();
}

/*====================================
=          WELCOME MESSAGE           =
====================================*/

.welcome-message {
  display: flex;
  align-items: center;
  gap: $space-lg;
}

.welcome-message__avatar {
  @include mixins.avatar-size($size-welcome-avatar-image);
  @include mixins.hover-opacity-pointer();
}

.welcome-message__text {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 0.9rem;
}

.welcome-message__handle {
  @include mixins.interactive-handle($color-black, $color-dark-grey);
}

.welcome-message__user {
  font-size: $font-size-welcome;
  font-weight: bold;
}

/*====================================
=          ACTION BUTTONS            =
====================================*/

.action-buttons {
  display: flex;
  align-items: center;
  gap: $space-lg;
}

.btn {
  flex: 1;
  margin: 0;
  font-family: inherit;
  font-weight: 600;
  font-size: $font-size-btn;
  padding: 0.6rem 1.8rem;
  border-radius: $space-lg;
  border: none;
  background: $color-primary;
  color: $color-text-secondary;
  box-shadow: $box-shadow-buttons;
  @include mixins.hover-lift();
}